#title {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: blue;
}

#text {
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.086);
    text-align: center;
    

}

#text1 {
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.086);
    text-align: center;

}
.question {
    width: fit-content;
    margin: auto;
}

#timer {
    font-size: 4em;
    font-weight: bold;
    color: blue;
    text-align: center;
    

}

span{
    transition: all 300ms 0s ease;
}

.add-blue{
    font-size: 0.5em;
    color :aqua;
}

#button1 {
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.086);
    

}
#button2 {
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.086);
    display: none;

    
}

#button3 {
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.086);
    display: none;
}

.buttons{
    text-align: center;
}